<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.cas.cwsol.ce.plan.serviceimpl.CwcePlanDeptConfmMapper">

	<select id="list" resultType="EgovMap">
		SELECT A1.EVL_ID, A1.CHRG_DEPT_ID, A1.CHRG_DEPT_BGNDE, B1.DEPT_CD, B1.DEPT_NM
			 , A1.CONFM_STEP AS CONFM_STEP1, A1.CONFM_AT AS CONFM_AT1, A1.CONFM_CN AS CONFM_CN1, A1.CONFM_USER_ID AS CONFM_USER_ID1, A1.CONFM_USER_BGNDE AS CONFM_USER_BGNDE1, A1.CONFM_DT AS CONFM_DT1, A1.STTUS_CD_ID AS CONFM_STTUS_CD_ID1, CD1.CODE_NM AS CONFM_STTUS_CD_NM1, C1.USER_CD AS CONFM_USER_CD1, C1.USER_NM AS CONFM_USER_NM1, C1.DEPT_NM AS CONFM_DEPT_NM1 
		     , A2.CONFM_STEP AS CONFM_STEP2, A2.CONFM_AT AS CONFM_AT2, A2.CONFM_CN AS CONFM_CN2, A2.CONFM_USER_ID AS CONFM_USER_ID2, A2.CONFM_USER_BGNDE AS CONFM_USER_BGNDE2, A2.CONFM_DT AS CONFM_DT2, A2.STTUS_CD_ID AS CONFM_STTUS_CD_ID2, CD2.CODE_NM AS CONFM_STTUS_CD_NM2, C2.USER_CD AS CONFM_USER_CD2, C2.USER_NM AS CONFM_USER_NM2, C2.DEPT_NM AS CONFM_DEPT_NM2 
		     , A3.CONFM_STEP AS CONFM_STEP3, A3.CONFM_AT AS CONFM_AT3, A3.CONFM_CN AS CONFM_CN3, A3.CONFM_USER_ID AS CONFM_USER_ID3, A3.CONFM_USER_BGNDE AS CONFM_USER_BGNDE3, A3.CONFM_DT AS CONFM_DT3, A3.STTUS_CD_ID AS CONFM_STTUS_CD_ID3, CD3.CODE_NM AS CONFM_STTUS_CD_NM3, C3.USER_CD AS CONFM_USER_CD3, C3.USER_NM AS CONFM_USER_NM3, C3.DEPT_NM AS CONFM_DEPT_NM3
		FROM TB_CW_EVL_DEPT_CONFM A1
		     LEFT OUTER JOIN TB_CO_DEPT_HIST B1
		      ON A1.CHRG_DEPT_ID = B1.DEPT_ID
		      AND A1.CHRG_DEPT_BGNDE = B1.HIST_BGNDE
		     LEFT OUTER JOIN TB_CO_USER_HIST C1
		      ON A1.CONFM_USER_ID = C1.USER_ID
		      AND A1.CONFM_USER_BGNDE = C1.HIST_BGNDE
		     LEFT OUTER JOIN TB_CO_CODE CD1
		      ON A1.STTUS_CD_ID = CD1.CODE_ID
		     LEFT OUTER JOIN TB_CW_EVL_DEPT_CONFM A2
		      ON A1.EVL_ID = A2.EVL_ID
		      AND A1.CHRG_DEPT_ID = A2.CHRG_DEPT_ID
		      AND A2.CONFM_STEP = 2
		     LEFT OUTER JOIN TB_CO_USER_HIST C2
		      ON A2.CONFM_USER_ID = C2.USER_ID
		      AND A2.CONFM_USER_BGNDE = C2.HIST_BGNDE
		     LEFT OUTER JOIN TB_CO_CODE CD2
		      ON A2.STTUS_CD_ID = CD2.CODE_ID
		     LEFT OUTER JOIN TB_CW_EVL_DEPT_CONFM A3
		      ON A1.EVL_ID = A3.EVL_ID
		      AND A1.CHRG_DEPT_ID = A3.CHRG_DEPT_ID
		      AND A3.CONFM_STEP = 3
		     LEFT OUTER JOIN TB_CO_USER_HIST C3
		      ON A3.CONFM_USER_ID = C3.USER_ID
		      AND A3.CONFM_USER_BGNDE = C3.HIST_BGNDE
		     LEFT OUTER JOIN TB_CO_CODE CD3
		      ON A3.STTUS_CD_ID = CD3.CODE_ID
		WHERE A1.EVL_ID = #{evlId}
		    AND A1.CONFM_STEP = 1
	</select>
	
	<update id="update">
		UPDATE TB_CW_EVL_DEPT_CONFM SET
			  CONFM_USER_ID			= #{confmUserId}
			, CONFM_USER_BGNDE	    = #{confmUserBgnde}
		WHERE EVL_ID = #{evlId}
		    AND CONFM_STEP = #{confmStep}
		    AND CHRG_DEPT_ID = #{chrgDeptId}
	</update>


	<!-- 평가자 부서 중에 승인부서로 등록되지 않은건 SELECT INSERT -->
	<insert id="insertDeptConfm" >
		INSERT INTO TB_CW_EVL_DEPT_CONFM (
			EVL_ID, CONFM_STEP, CHRG_DEPT_ID, CHRG_DEPT_BGNDE, CONFM_USER_ID, CONFM_USER_BGNDE 
        ) 
        SELECT TA.EVL_ID, TA.CONFM_STEP, TA.CHRG_DEPT_ID, TA.HIST_BGNDE, RCU.USER_ID, RCU.HIST_BGNDE 
		FROM (
		    SELECT DISTINCT A.EVL_ID, A.CHRG_DEPT_ID, D.HIST_BGNDE, B.CHRG_DEPT_ID AS NEW_CHRG_DEPT_ID, 1 AS CONFM_STEP 
		    FROM TB_CW_EVL_EXC A
		         INNER JOIN TB_CW_EVL_RCM_MAPNG O
		          ON A.EVL_ID = O.EVL_ID
		           AND A.OBJECT_ID = O.OBJECT_ID
		         LEFT OUTER JOIN TB_CO_DEPT_HIST D
		          ON A.CHRG_DEPT_ID = D.DEPT_ID
		           AND '99991231' = D.HIST_ENDDE 
		         FULL OUTER JOIN TB_CW_EVL_DEPT_CONFM B
		          ON A.EVL_ID = B.EVL_ID
		           AND A.CHRG_DEPT_ID = B.CHRG_DEPT_ID
		           AND D.HIST_BGNDE = B.CHRG_DEPT_BGNDE
		           AND B.CONFM_STEP = 1
		    WHERE A.EVL_ID = #{evlId}
		        AND A.CHRG_USER_TY_CD_ID = 'CTW_105_001'
		        AND O.OBJECT_KND_CD_ID = 'CTW_001_005'
		    UNION
		    SELECT DISTINCT A.EVL_ID, A.CHRG_DEPT_ID, D.HIST_BGNDE, B.CHRG_DEPT_ID AS NEW_CHRG_DEPT_ID, 2 AS CONFM_STEP 
		    FROM TB_CW_EVL_EXC A
		         INNER JOIN TB_CW_EVL_RCM_MAPNG O
		          ON A.EVL_ID = O.EVL_ID
		           AND A.OBJECT_ID = O.OBJECT_ID
		         LEFT OUTER JOIN TB_CO_DEPT_HIST D
		          ON A.CHRG_DEPT_ID = D.DEPT_ID
		           AND '99991231' = D.HIST_ENDDE 
		         FULL OUTER JOIN TB_CW_EVL_DEPT_CONFM B
		          ON A.EVL_ID = B.EVL_ID
		           AND A.CHRG_DEPT_ID = B.CHRG_DEPT_ID
		           AND D.HIST_BGNDE = B.CHRG_DEPT_BGNDE
		           AND B.CONFM_STEP = 2
		    WHERE A.EVL_ID = #{evlId}
		        AND A.CHRG_USER_TY_CD_ID = 'CTW_105_001'
		        AND O.OBJECT_KND_CD_ID = 'CTW_001_005'
		    UNION
		    SELECT DISTINCT A.EVL_ID, A.CHRG_DEPT_ID, D.HIST_BGNDE, B.CHRG_DEPT_ID AS NEW_CHRG_DEPT_ID, 3 AS CONFM_STEP 
		    FROM TB_CW_EVL_EXC A
		         INNER JOIN TB_CW_EVL_RCM_MAPNG O
		          ON A.EVL_ID = O.EVL_ID
		           AND A.OBJECT_ID = O.OBJECT_ID
		         LEFT OUTER JOIN TB_CO_DEPT_HIST D
		          ON A.CHRG_DEPT_ID = D.DEPT_ID
		           AND '99991231' = D.HIST_ENDDE 
		         FULL OUTER JOIN TB_CW_EVL_DEPT_CONFM B
		          ON A.EVL_ID = B.EVL_ID
		           AND A.CHRG_DEPT_ID = B.CHRG_DEPT_ID
		           AND D.HIST_BGNDE = B.CHRG_DEPT_BGNDE
		           AND B.CONFM_STEP = 3
		    WHERE A.EVL_ID = #{evlId}
		        AND A.CHRG_USER_TY_CD_ID = 'CTW_105_001'
		        AND O.OBJECT_KND_CD_ID = 'CTW_001_005'
		    ) TA
            LEFT OUTER JOIN TB_CW_RCM_MAPNG_DEPT_CONFM RC
             ON TA.CHRG_DEPT_ID = RC.CHRG_DEPT_ID
              AND TA.CONFM_STEP = RC.CONFM_STEP
            LEFT OUTER JOIN TB_CO_USER_HIST RCU
             ON RC.CONFM_USER_ID = RCU.USER_ID
              AND RCU.HIST_ENDDE = '99991231'
		WHERE TA.NEW_CHRG_DEPT_ID IS NULL
    </insert>
	
	<!-- 평가자 부서가 존재 하지 않는 승인부서는 삭제 -->
    <delete id="deleteDeptConfm"> 
        DELETE FROM TB_CW_EVL_DEPT_CONFM
        WHERE EVL_ID = #{evlId}
            AND CHRG_DEPT_ID NOT IN (SELECT A.CHRG_DEPT_ID 
	                                 FROM TB_CW_EVL_EXC A
								          INNER JOIN TB_CW_EVL_RCM_MAPNG O
								           ON A.EVL_ID = O.EVL_ID
								            AND A.OBJECT_ID = O.OBJECT_ID
	                                 WHERE A.EVL_ID = #{evlId}
								        AND A.CHRG_USER_TY_CD_ID = 'CTW_105_001'
								        AND O.OBJECT_KND_CD_ID = 'CTW_001_005')
    </delete>

</mapper>
