<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.cas.cwsol.elc.coso.serviceimpl.CwelcCosoMapper">

	<select id="list" resultType="EgovMap">
		SELECT 	  A.ENTITY_CID
				, A.ENTITY_CNM
				, A.ENTITY_PID
				, A.ENTITY_PNM
				, A.ENTITY_FID
				, A.ENTITY_FNM
				, SUM((CASE WHEN A.CNRL_ID IS NULL THEN 0 ELSE 1 END)) AS SUM_CNT
				, RANK() OVER(PARTITION BY A.ENTITY_CID ORDER BY A.ENTITY_FID ASC) AS C_NUM
				, COUNT(A.ENTITY_CID) OVER(PARTITION BY A.ENTITY_CID) AS C_COLS
				, RANK() OVER(PARTITION BY A.ENTITY_PID ORDER BY A.ENTITY_FID ASC) AS P_NUM
				, COUNT(A.ENTITY_PID) OVER(PARTITION BY A.ENTITY_PID) AS P_COLS
		FROM (	SELECT    C.ENTITY_ID AS ENTITY_CID
						, C.ENTITY_NM AS ENTITY_CNM 
						, P.ENTITY_ID AS ENTITY_PID
						, P.ENTITY_NM AS ENTITY_PNM 
						, P.ENTITY_DC AS ENTITY_PDC 
						, F.ENTITY_ID AS ENTITY_FID
						, F.ENTITY_NM AS ENTITY_FNM
						, M.CNRL_ID
				FROM TB_CW_COSO_ENTITY F
				LEFT OUTER JOIN TB_CW_COSO_ENTITY P
					ON F.UPPER_ENTITY_ID = P.ENTITY_ID
				LEFT OUTER JOIN TB_CW_COSO_ENTITY C
					ON P.UPPER_ENTITY_ID = C.ENTITY_ID
				LEFT OUTER JOIN TB_CW_COSO_ENTITY_MAPPING M
			    	ON F.ENTITY_ID = M.ENTITY_ID
				WHERE F.ENTITY_LEVEL =3
  				ORDER BY C.SORT_SN, P.SORT_SN, F.SORT_SN
      		) A
  		GROUP BY A.ENTITY_CID, A.ENTITY_CNM, A.ENTITY_PID, A.ENTITY_PNM, A.ENTITY_FID, A.ENTITY_FNM
  		ORDER BY A.ENTITY_CID, A.ENTITY_CNM, A.ENTITY_PID, A.ENTITY_PNM, A.ENTITY_FID, A.ENTITY_FNM
	</select>
	
	<select id="cosoView" resultType="CwelcCosoVO">
        SELECT    C.ENTITY_ID AS ENTITY_CID
				, C.ENTITY_NM AS ENTITY_CNM 
				, P.ENTITY_ID AS ENTITY_PID
				, P.ENTITY_NM AS ENTITY_PNM 
				, P.ENTITY_DC AS ENTITY_PDC 
				, F.ENTITY_ID AS ENTITY_FID
				, F.ENTITY_NM AS ENTITY_FNM
		FROM TB_CW_COSO_ENTITY F
		LEFT OUTER JOIN TB_CW_COSO_ENTITY P
			ON F.UPPER_ENTITY_ID = P.ENTITY_ID
		LEFT OUTER JOIN TB_CW_COSO_ENTITY C
			ON P.UPPER_ENTITY_ID = C.ENTITY_ID
		WHERE  F.ENTITY_ID = #{entityFid}
		ORDER BY C.SORT_SN, P.SORT_SN, F.SORT_SN
	</select>
	
	<select id="subList" resultType="EgovMap">
		SELECT
		      A.CNRL_ID
		    , A.CNRL_NO
		    , A.CNRL_NM
		    , A.CNRL_CN
		    , A.REFRN_NO
		    , A.CNRL_PURPS
		    , A.CNRL_ACNTCTGR
		    , A.CNRL_EXCBER
		    , A.CNRL_RSPNBER
		    , A.CNRL_CTGRY
		    , A.CNRL_TY01_CD_ID
		    , AA.CODE_NM AS CNRL_TY01_CD_NM
		    , A.CNRL_TY02_CD_ID
		    , AB.CODE_NM AS CNRL_TY02_CD_NM
		    , A.CNRL_TY03_CD_ID
		    , AC.CODE_NM AS CNRL_TY03_CD_NM
		    , A.CNRL_RELATE_REF
		    , A.CNRL_CYCLE_CD_ID
			, AG.CODE_NM 					AS CNRL_CYCLE_CD_NM
			, A.CNRL_CYCLE01
			, A.CNRL_CYCLE02
			, A.CNRL_CYCLE03
			, A.CNRL_CYCLE04
			, A.CNRL_CYCLE05
			, A.CNRL_CYCLE06
			, A.CNRL_CYCLE07
			, A.CNRL_CYCLE08
			, A.CNRL_CYCLE09
		    , A.TREXAMIN_PROCSS
		    , A.TREXAMIN_PRUF
		    , A.TREXAMIN_CNCLSN
		    , ISNULL(A.KEY_CNRL_AT, 'N') AS KEY_CNRL_AT
		    , ISNULL(A.MRC_CNRL_AT, 'N') AS MRC_CNRL_AT
		    , ISNULL(A.IPE_CNRL_AT, 'N') AS IPE_CNRL_AT
		    , A.CNRL_UPRPD_NO
		    , A.CNRL_RELATE_DOC
		    , A.CNRL_RELATE_SYS
		    , A.SAMPLE_SIZE
		    , ISNULL(A.TEST_SANCTN_AT, 'N') AS TEST_SANCTN_AT
		    , A.TEST_PROCSS
		    , A.TEST_TRGET
		    , A.TEST_CYCLE_CD_ID
		    , AD.CODE_NM AS TEST_CYCLE_CD_NM
			, A.TEST_CYCLE01
			, A.TEST_CYCLE02
			, A.TEST_CYCLE03
			, A.TEST_CYCLE04
			, A.TEST_CYCLE05
			, A.TEST_CYCLE06
			, A.TEST_CYCLE07
			, A.TEST_CYCLE08
			, A.TEST_CYCLE09
		    , A.TEST_MTH
		    , A.EXCP_CNT
		    , A.OFFICE_TY_CD_ID
		    , AE.CODE_NM AS OFFICE_TY_CD_NM
		    , ISNULL(A.DSGN_EFCT_AT, 'N') AS DSGN_EFCT_AT
		    , ISNULL(A.OPER_EFCT_AT, 'N') AS OPER_EFCT_AT
			/** 엑셀다운 RCM_FIELD_NM_EN에 맞춤 */
			, AA.CODE_NM 					AS CNRL_TY01
			, AB.CODE_NM 					AS CNRL_TY02
			, AC.CODE_NM 					AS CNRL_TY03
			, ISNULL(A.KEY_CNRL_AT, 'N') 		AS KEY_CNRL
			, ISNULL(A.MRC_CNRL_AT, 'N')		AS MRC_CNRL
			, ISNULL(A.IPE_CNRL_AT, 'N')  		AS IPE_CNRL
			, AG.CODE_NM        			AS CNRL_CYCLE
			, AD.CODE_NM        			AS TEST_CYCLE
			, AE.CODE_NM        			AS OFFICE_TY
			, ISNULL(A.DSGN_EFCT_AT, 'N') 		AS DSGN_EFCT
			, ISNULL(A.OPER_EFCT_AT, 'N')		AS OPER_EFCT
			, ISNULL(A.TEST_SANCTN_AT, 'N') 	AS TEST_SANCTN
			, AF.CODE_NM					AS CNRL_PURPS_CHOISE
			, AH.CODE_NM 					AS DELNG_TY
		FROM TB_CW_ELC_RCM_CNRL A
        LEFT OUTER JOIN TB_CO_CODE AA
            ON A.CNRL_TY01_CD_ID = AA.CODE_ID
        LEFT OUTER JOIN TB_CO_CODE AB
            ON A.CNRL_TY02_CD_ID = AB.CODE_ID 
        LEFT OUTER JOIN TB_CO_CODE AC
            ON A.CNRL_TY03_CD_ID = AC.CODE_ID
        LEFT OUTER JOIN TB_CO_CODE AD
            ON A.TEST_CYCLE_CD_ID = AD.CODE_ID
        LEFT OUTER JOIN TB_CO_CODE AE
            ON A.OFFICE_TY_CD_ID = AE.CODE_ID
        LEFT OUTER JOIN TB_CO_CODE AF
            ON A.CNRL_PURPS_CD_ID = AF.CODE_ID
        LEFT OUTER JOIN TB_CO_CODE AG
            ON A.CNRL_CYCLE_CD_ID = AG.CODE_ID
        LEFT OUTER JOIN TB_CO_CODE AH
            ON A.DELNG_TY_CD_ID = AH.CODE_ID 
        INNER JOIN TB_CW_COSO_ENTITY_MAPPING B
        	ON A.CNRL_ID = B.CNRL_ID
        WHERE B.ENTITY_ID = #{entityFid}
		ORDER BY A.CNRL_NO ASC
	</select>
	
	<select id="detailList" resultType="EgovMap">
		SELECT    C.ENTITY_ID AS ENTITY_CID
				, C.ENTITY_NM AS ENTITY_CNM 
				, P.ENTITY_ID AS ENTITY_PID
				, P.ENTITY_NM AS ENTITY_PNM 
				, P.ENTITY_DC AS ENTITY_PDC 
				, F.ENTITY_ID AS ENTITY_FID
				, F.ENTITY_NM AS ENTITY_FNM
				, M.CNRL_ID
		FROM TB_CW_COSO_ENTITY F
			LEFT OUTER JOIN TB_CW_COSO_ENTITY P
				ON F.UPPER_ENTITY_ID = P.ENTITY_ID
			LEFT OUTER JOIN TB_CW_COSO_ENTITY C
				ON P.UPPER_ENTITY_ID = C.ENTITY_ID
			LEFT OUTER JOIN TB_CW_COSO_ENTITY_MAPPING M
		    	ON F.ENTITY_ID = M.ENTITY_ID
		    	AND M.CNRL_ID = #{cnrlId}
		WHERE F.ENTITY_LEVEL =3
  		ORDER BY C.SORT_SN, P.SORT_SN, F.SORT_SN
	</select>

</mapper>
